// Variables
$primary-color: #1890ff;
$success-color: #52c41a;
$warning-color: #faad14;
$danger-color: #ff4d4f;

$text-primary: #303133;
$text-regular: #606266;
$text-secondary: #909399;
$text-placeholder: #c0c4cc;

$border-color: #dcdfe6;
$border-color-light: #e4e7ed;
$border-color-lighter: #ebeef5;

$background-color: #f5f7fa;

$sidebar-bg: #1e293b;
$header-bg: #ffffff;

// Breakpoints
$xs: 768px;
$sm: 992px;
$md: 1200px;
$lg: 1920px;
